<div style="position: relative;" fxLayout="column" fxLayoutAlign="center center">
    <div class="cards-outer-div" fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="!this.resume">
            <h3 class="empty-heading">No Contact Details Added Yet</h3>
        </ng-container>
        <div>

            <div fxLayoutWrap="wrap" fxLayoutAlign="center center">
                <div class="hover-container">
                    <div class="hover">
                        <button (click)="openContactForm()" style="margin-top: 0.9rem;" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>