<div class="overlay" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="start center">
    <img src="../assets/digiresume-green.png" alt="digital-resume" style="width: 35%;height: 25%;">
    <h1 class="res-onboarding-title">Welcome to digital resume portal!</h1>
    <h2 class="res-onboarding-desc">From the whole team here, thank you for trying us. We are committed to make it easier for you to do great work.</h2>
    <button color="accent" mat-raised-button (click)="navigate()">Let's Start!</button>
</div>