<form class="overlayout" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center" (ngSubmit)="this.forgotPasswordForm.valid && this.isEmailSent ? changePassword() : sendEmail() " [formGroup]="forgotPasswordForm">
    <img src="../assets/digiresume-green.png" alt="digital-resume" style='width:"20%"'>
    <mat-card fxLayout="column" fxLayoutGap="10px">
        <h2>Forgot Password</h2>
        <h5>Please enter only registered email id</h5>
        <mat-form-field *ngIf='!isEmailSent'>
            <input matInput formControlName="email" placeholder="Email" type="email">
            <mat-error>Email is not valid</mat-error>
        </mat-form-field>
        <div *ngIf='isEmailSent' fxLayout='column'>
            <mat-form-field>
                <input matInput formControlName="code" placeholder="code" type="text">
                <mat-error>Valid code is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="new_password" placeholder="new password" type="password">
                <mat-error>Valid password is required</mat-error>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="confirm_password" placeholder="confirm password" type="password">
                <mat-error>Valid password is required</mat-error>
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div *ngIf='!isEmailSent' fxLayoutAlign="end">
            <button type="submit" mat-raised-button color="primary">Send Email</button>
        </div>
        <div *ngIf="isEmailSent" fxLayoutGap="row" fxLayoutAlign="end" fxLayoutGap="5%" style="margin-top: 7%;">
            <button routerLink='/login' type="button" mat-raised-button color="primary">Back to login</button>
            <button type="submit" mat-raised-button color="accent">Change Password</button>
        </div>
        <mat-spinner *ngIf="loading" color="primary" diameter="40"></mat-spinner>
    </mat-card>
</form>