/* You can add global styles to this file, and also import other style files */


/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */


/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tabs-heading {
    font-weight: bolder !important;
    font-size: 1.5rem !important;
    color: #538ec3;
    text-align: center!important;
    margin-top: 2rem;
}

.overlay {
    width: 100%;
    height: 100%;
}

button {
    color: white !important;
}