/* You can add global styles to this file, and also import other style files */


/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */


/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hover-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    transition: background 0.5s ease;
}

.hover {
    opacity: 0;
    text-align: center;
    transition: opacity .35s ease;
}

.cards-outer-div {
    position: relative;
    background-color: #e5fade;
    border: 2.5px dashed #d8d8d8;
    width: 95%;
    height: 100%;
}

.cards-outer-div:hover .hover-container {
    display: block;
    background: rgb(0, 0, 0, 0.3);
}

.cards-outer-div:hover .hover {
    opacity: 1;
}

mat-icon {
    font-size: 43px;
}

.tabs-heading {
    font-weight: bolder !important;
    font-size: 1.5rem !important;
    color: #538ec3;
    text-align: center!important;
    margin-top: 2rem;
}

.overlay {
    width: 100%;
    height: 100%;
}

button {
    color: white !important;
}